* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
 	font-family: 'Montserrat', sans-serif;
}

.text-center {
	text-align: center;
}

.h-25 {
	height: 25%;
}

.p-3 {
	padding: 15px;
}

.bg-sucess {
	background-color: aliceblue;
}

.bg-warning {
	background-color: darkorange;
}

.bg-danger {
	background-color: darkred;
}

.bg-primary {
	background-color: dimgrey;
}

.d-flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}